{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
    <h1>Page Not Found</h1>
    <p>What you were looking for is just not there.</p>
    <p><a href="{{ url_for('index') }}">go somewhere nice</a>
{% endblock %}
