{% extends "base.html" %}
{% block title %}Indernal server error{% endblock %}
{% block content %}
    <h1>Ana unexpected error has occured on the server</h1>
    <p>The administrator has been notified. Sorry for the inconvenience!</p>
    <p><a href="{{ url_for('index') }}">go somewhere nice</a></p>
{% endblock %}
