{% extends "base.html" %}
{% block content %}
<div class="about">
    <div class="about_line">
        <span class="about_title">Aplikace vytvorena:</span>
        <span class="about_text">Marcel Marciš</span>
    </div>
    <div class="about_line">
        <span class="about_title">Spolupracovali:</span>
        <span class="about_text">Marcel Marciš</span>
    </div>
    <div class="about_line">
        <span class="about_title">Moderátoři:</span>
        <span class="about_text">-</span>
    </div>
</div>
{% endblock %}
