{% extends "base.html" %}
{% set active_page = "/index" %}
{% block content %}
{% if user %}
    <div class="logged_user">
        <div class="welcome">
            <h1>Ahoj</h1>
            <p>Ako sa máme {{ user.meno}}?</p>
        </div>
    </div>
    {% for notif in notifs %}
        {% if notif["notifs"]|length > 0 %}
            <div class="{{notif["class"]}}">
                <div class="notif_title">
                    {{notif["title"]}}
                </div>
                {% for msg in notif["notifs"] %}
                    <div class="notif_msg">
                        {{msg}}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    <!--
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbanf-VJhPmyQWaiNbW13Qb03-h7oIaoA&v=3.exp'></script>
	<div style='overflow:hidden;height:500px;width:1000px;'>
		<div id='gmap_canvas' style='height:500px;width:1000px;'></div>
		<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
	</div>
	<script type='text/javascript'>
        //google api key: {mapMarkersForCzSkLarps: AIzaSyBbanf-VJhPmyQWaiNbW13Qb03-h7oIaoA}
        larpy = [
            {"title": "Larp1", "lat": 49.7, "lng": 18, "href": "http://www.seznam.cz"},
            {"title": "Larp2", "lat": 48.7, "lng": 18, "href": "http://www.google.com"},
            {"title": "Larp3", "lat": 48.7, "lng": 19, "href": "http://www.seznam.com"}
        ];
        function createfunc(map, marker, content, infowindow) {
            return function() {
                infowindow.setContent(content);
                infowindow.open(map, marker);
            };
        }
		function init_map(){
            var center = {"lat":49.4, "lng": 17.4};
			var myOptions = {zoom:7, center:new google.maps.LatLng(center["lat"], center["lng"]), mapTypeId: google.maps.MapTypeId.ROADMAP};
			map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            for (index in larpy) {
                marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(larpy[index]["lat"], larpy[index]["lng"])});
                infowindow = new google.maps.InfoWindow();
                content = "<a href='"+larpy[index]["href"]+"'>"+larpy[index]["title"]+"</a>"; // marker info structure [html]
                google.maps.event.addListener(marker, 'click', createfunc(map, marker, content, infowindow));
                //infowindow.open(map, marker);
            }
		}
		google.maps.event.addDomListener(window, 'load', init_map);

        // lokace z nazvu
        geocoder = new google.maps.Geocoder();
        address = "Prague";
		geocoder.geocode( { 'address': address}, function(results, status) {
			if (status == 'OK') {
				alert(results[0].geometry.location);
			} else {
				alert('Geocode was not successful for the following reason: ' + status);
			}
		});
	</script>
    -->
{% endif %}
{% endblock %}
