{% extends "base.html" %}
{% set active_page = "/login" %}
{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login" class="login">
    {{ form.hidden_tag() }}
    <div class="login_prompt">
    Please log in:
    </div>
    <table>
        <tr>
            <td>
                Nick or email:
            </td><td>
                {{ form.logName(size=20, autofocus=true) }}
            </td><td>
                {% for error in form.logName.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr><tr>
            <td>
                Heslo:
            </td><td>
                {{ form.passwd(size=20) }}
            </td><td>
                {% for error in form.passwd.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr><tr>
            <td>
                <input type="submit" value="LogIn">
            </td><td>
                {{ form.remember_me }} Remember Me
            </td>
        </tr>
    </table>
</form>
{% endblock %}
