<div class="navigate">
    <div class="navigate_block">
        {% for link in nav_links %}
        <div class="navigate_link">
            <a href="{{ link.href }}"
                {% if link.href.lower() ==  request.path.lower() or (link.href == "/" and request.path == "/index") %}
                class="active"
                {% endif %}
                {{link.params}}>{{link.text}}</a>
        </div>
        {% endfor %}
    </div>

    <div class="user_list">
        {% for userI in user_list %}
        <div class="user_list_item">
            <a href="{{ url_for('user', nickname=userI[0]) }}"
               class="
                   {% if userI[0].lower() in request.path.lower() %}active{% endif %}
                   {% if userI[1] %}logged{% endif %}
                   {% if userI[2] %}special{% endif %}">{{ userI[0] }}</a>
        </div>
        {% endfor%}
    </div>
</div>
