{% extends "base.html" %}
{% set active_page = "/register" %}
{% block content %}
<h1>Register</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>
                E-mail:
            </td><td>
                {{ form.emailAddr1(autofocus=true) }}
                {% for error in form.emailAddr1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr><tr>
            <td>
                E-mail znovu:
            </td><td>
                {{ form.emailAddr2 }}
                {% for error in form.emailAddr2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr><tr>
            <td>
                Heslo:
            </td><td>
                {{ form.passwd1 }}
                {% for error in form.passwd1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr><tr>
            <td>
                Heslo znovu:
            </td><td>
                {{ form.passwd2 }}
                {% for error in form.passwd2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr><tr>
            <td>
                Uziv.meno:
            </td><td>
                {{ form.nick}}
                {% for error in form.nick.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td>
        </tr><tr>
            <td>
                Oslovenie:
            </td><td>
                {{ form.name}}
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td> 
        </tr><tr>
            <td>
                Datum narodenia:
            </td><td>
                {{ form.bday}}
                {% for error in form.bday.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </td> 
        </tr><tr>
            <td>
            <td span='2'>
                <input type="submit" value="Sign In">
                <input type="reset" value="Reset">
            </td>
        </tr>
    </table>
</form>
{% endblock %}
