{% extends "base.html" %}
{% set disable = not owner %}
{% set banned = "banned" if form.is_banned.data == True else "" %}
{% set waiting = "waiting" if form.is_waiting.data == True else "" %}
{% block content %}
    <div class="user_data {{banned}} {{waiting}}">
        <form action="" method="post" name="edit">
            {{ form.hidden_tag() }}
            <div class="user_data_header">
                Profil uzivatele {{form.nick.data }}
                <span class="user_data_last_seen">
                    Last seen: {{ form.last_seen.data }}
                </span>
            </div>
            <table>
                <tr>
                    <td>
                        <img class="user_data_img" src="{{ form.avatar.data }}"/>
                    </td><td>
                        {% if form.is_waiting.data == True %}
                            <div class="waiting_title">
                                Tento účet ještě nebyl aktivován.
                            </div>
                            <div class="waiting_text">
                                Administrátor, nebo moderátor musí vaši registraci schválit.
                            </div>
                        {% endif %}
                        {% if form.is_banned.data == True %}
                            <div class="blocked_title">
                                Tenhle účet byl zablokován adminem pro porušení pravidel.
                            </div>
                            <div class="blocked_text">
                                Pro víc informací se koukněte do svého emailu.
                            </div>
                        {% endif %}
                    </td>                    
                {% if owner %}
                </tr><tr>
                    <td>
                        E-mail:
                    </td><td>
                        {{ form.mail(disabled=True) }}
                        {% for error in form.mail.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                {% endif %}
                </tr><tr>
                    <td>
                        Heslo:
                    </td><td>
                        {{ form.passwd(disabled=disable) }}
                        {% for error in form.passwd.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr><tr>
                    <td>
                        Oslovenie:
                    </td><td>
                        {{ form.name(disabled=disable) }}
                        {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td> 
                </tr><tr>
                    <td>
                        Datum narodenia:
                    </td><td>
                        {{ form.bday(disabled=disable) }}
                        {% for error in form.bday.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td> 
                </tr><tr>
                    <td rowspan="2">
                        O mně:
                        <div class="user_roles">
                            {% for role in form.roles %}
                            <div class="user_role {{role}}"><img src="/static/page_media/icon/{{role}}.png" alt="{{role}}" title="{{role}}"/></div>
                            {% endfor %}
                        </div>
                    </td><td>
                        {{ form.about_me(disabled=disable, cols=32, rows=4) }}
                        {% for error in form.about_me.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td> 
                {% if admin %}
                </tr><tr>
                    <td>
                        Admin {{ form.is_admin() }}
                        Sudí {{ form.is_judge() }}
                        Moderátor {{ form.is_moderator() }}
                        </br>
                        Hráč {{ form.is_user() }}
                        Čeká {{ form.is_waiting() }}
                        BAN {{ form.is_banned() }}
                    </td>
                {% endif %}
                {% if owner or admin %}
                </tr><tr>
                    <td span='2'>
                        <input type="submit" value="Ulož">
                        <input type="reset" value="Reset">
                    </td>
                {% endif %}
                </tr>
            </table>
        </form>
   </div>
{% endblock %}
