body {
/*    background-color: blue;*/
    text-align: center;
}

.hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.body {
    width: 95%;
    height: 900px;
/*    background-color: lightblue;*/
    margin: auto;
    padding: 0.5em;
    text-align: left;
}

.navigate {
/*    background-color: brown;*/
    text-align: center;
    padding: 0.5em;
}

.navigate_link {
    display: inline;
    margin: 0 0.5em 0 0.5em;
}

.navigate_link a {
    color: Blue;
    text-decoration: none;
}

.navigate_link a:visited {
    color: Blue;
}

/*on mouse down*/
.navigate_link a:active {
    color: Green;
}

/*if class is set*/
.navigate_link a.active {
    color: Red;
}

.user_list a {
    text-decoration: none;
}

/*on mouse down*/
.user_list a:active {
    color: Green;
}

.user_list a:visited {
    color: Blue;
}

.user_list_item a.special:visited {
    color: Green;
}

/*if class is set*/
.user_list a.active {
    color: Red;
}

.user_list a.active:visited {
    color: Red;
}

.user_list a.logged {
    text-decoration: underline;
}

.user_list_item {
    margin: 0 0.5em 0 0.5em;
    display: inline;
}

.user_data_header {
    text-color: black;
    line-height: 3;
    font-size: x-large;
    font-weight: bold;
}

.user_data_last_seen {
    font-size: small;
}

.user_data_img {
    width: 128px;
    height: 128px;
}

.user_data td {
    vertical-align: top;
}

.user_data.waiting {
    background-color: brown;
}

.user_data.banned {
    background-color: red;
}

.user_roles {
    max-width: 70px;
}

.user_role {
    float: left;
}

.user_role img {
    width: 30px;
    height: 30px;
}

.tablinks_close {
    color: black;
    float: right;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    padding: 7px 7px 0px 0px;
}

.tablinks_close:hover {
    color: red;
}

.chat_window {
    border: 1px dotted #a55;
    width: 320px;
    height: 370px;
}

.chat_window.smile {
    height: 425px;
}

.chat_body {
    width: 320px;
    height: 300px;
    border: 1px dotted #5a5;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: visible;
}

.chat_msg_emote {
    float: left;
    margin: 0.1em;
}

.chat_emote {
    margin: 0;
    display: inline;
}

.chat_emote img {
    width: 12px;
    height: 12px;
}

.chat_msg_author_img {
    float: left;
    margin: 0;
}

.chat_msg_author_img img {
    width: 12px;
    height: 12px;
}

.chat_msg_author_img:hover{
    cursor: pointer;
}

.chat_msg {
    clear: both;
    font-size: small;
}

.chat_msg.to_me {
    background-color: LightGray;
}

.chat_msg.all{
    background-color: LightGreen;
}

.chat_msg_author_name:hover {
    cursor: pointer;
}

.chat_msg_author_name {
    margin-left: 0.2em;
}

.chat_msg_author_name.hidden {
    display: none;
}

.chat_msg_time {
    margin-left: 0.2em;
}

.chat_msg_delim {
    margin-left: 0.1em;
}

.chat_msg_delim.hidden {
    display: none;
}

.chat_msg_text {
    margin-left: 0.1em;
}

.chat_msg_time.hidden {
    display: none;
}

.chat_msg_alert_btn {
    width: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px 15px;
}

.chat_header input {
    background-color: inherit;
    display: block;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 6px;
    transition: 0.3s;
    height: 35px;
}

.chat_header input:hover {
    background-color: #ddd;
}

.chat_tab input.active:hover {
    background-color: #dbb;
}

.chat_tab input.active {
    background-color: #fdd;
}

.chat_msg_hide_btn.active {
    text-decoration: line-through;
    background-color: inherit;
}

.chat_tab {
    overflow: hidden;
}

.chat_area {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.input_click {
    height: 55px;
    overflow-y: auto;
}

.input_typing input {
	height: 1.8em;
    line-height: 2em;
    font-size: 0.8em;
	margin: 0;
	font-family: sans-serif;
	box-shadow: none;
	border-radius: 5px;
    vertical-align: middle;
}

.input_typing input:focus {
	box-shadow: 0px 0px 4px red;
    outline-width: 0;
}

.input_typing input.center_text {
    text-align: center;
}
